.footer-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  background-color: #191c31;
  padding-top: 10px;
  &__general-container {
    display: block;
    min-width: 155px;
    max-width: 559px;
    height: 90px;
    float: left;
  }
  &__general-list {
    display: block;
    list-style-type: none;
    float: right;
    padding-right: 20px;
  }
  &__link-animation li {
    width: 160px;
    height: auto;
  }
  &__link-animation li a {
    text-decoration: none;
    color: #838383;
    font-family: "PF Agora Sans Pro, Light", sans-serif;
    font-size: 13px;
    line-height: 27px;
    &:hover {
      color: #f9c220;
      transition: 2s;
    }
  }
  &__project-container {
    width: 211px;
    float: left;
    border-right: 1px solid #838383;
    border-left: 1px solid #838383;
    height: 286px;
    margin-bottom: 10px;
  }
  &__project {
    display: block;
    width: 144px;
    height: 228px;
    list-style-type: none;
    float: left;
    padding-left: 20px;
  }
  &__articles-container {
    width: 211px;
    float: left;
    border-right: 1px solid #838383;
    height: 286px;
  }
  @media all and (max-width: 540px) {
    &__articles-container {
      border-right: none;
      width: 111px;
      height: 100px;
    }
  }
  &__social {
    display: block;
    float: left;
    width: 435px;
    height: 200px;
  }
  &__footer-logo {
    display: block;
    height: 62px;
    width: auto;
    margin: 0 auto;
  }
  &__networks {
    display: inline-block;
    width: 410px;
    height: 70px;
    text-align: center;
  }
  &__network-container {
    display: inline-block;
    padding: 27px 15px 0;
  }
  &__network-container a img:hover {
    display: block;
    transform: rotate(320deg);
    transition: 1s;
  }
}