.contact {
  display: block;
  min-width: 450px;
  width: 100%;
  min-height: 51px;
  height: auto;
  background-color: #ffffff; }
  .contact__logo {
    width: 287px;
    height: 67px;
    float: left;
    margin-left: 22%;
    margin-right: 16%; }
  @media all and (max-width: 1250px) {
    .contact__logo {
      margin-right: 1%;
      margin-left: 3%; } }
  .contact__contact-number {
    width: 340px;
    height: 27px;
    color: #0175c5;
    font-family: "PF Agora Sans Pro, Bold", sans-serif;
    font-size: 40px;
    float: left;
    margin-top: 12px; }
  .contact__button-back-call {
    width: 153px;
    height: 39px;
    border-radius: 7px;
    background-color: #f47521;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(255, 209, 179, 0.75);
    color: #823400;
    font-family: "PF Agora Sans Pro, Bold", sans-serif;
    font-size: 15px;
    line-height: 12px;
    border: none;
    border-bottom: 2px solid #823400;
    margin-top: 12px;
    outline: none; }
    .contact__button-back-call:hover {
      background-color: #00ff80;
      transition: 0.8s; }
  @media all and (max-width: 830px) {
    .contact__logo {
      margin-left: 20%;
      margin-right: 40%; }
    .contact__contact-number {
      display: block;
      height: 51px;
      text-align: center;
      margin-left: 20%; } }
  @media all and (max-width: 650px) {
    .contact__button-back-call {
      margin-left: 35%; } }

header {
  display: block;
  height: 1001px;
  min-width: 540px;
  background: url("../images/header-background.webp") 80%, no-repeat;
  background-size: cover;
  z-index: 1; }

.navigation {
  display: block;
  min-width: 540px;
  height: 41px;
  background-color: #ffffff;
  opacity: 0.6;
  text-align: center; }
  .navigation__menu-item {
    display: inline-block;
    padding-top: 11px; }
  @media all and (max-width: 1190px) {
    .navigation__menu-item {
      padding-top: 5px;
      text-align: left; } }
  .navigation__menu-link {
    color: #000000;
    font-family: "PF Agora Sans Pro, Light", sans-serif;
    font-size: 20px;
    text-decoration: none; }
    .navigation__menu-link:hover {
      color: #0c37ff;
      transition: 0.8s;
      border-bottom: 2px solid #39ff39; }
    .navigation__menu-link--margin {
      margin-left: 51px;
      margin-right: 55px;
      text-decoration: none;
      color: #000000;
      font-family: "PF Agora Sans Pro, Light", sans-serif;
      font-size: 20px; }
      .navigation__menu-link--margin:hover {
        color: #0c37ff;
        transition: 0.8s;
        border-bottom: 2px solid #39ff39; }
    @media all and (max-width: 720px) {
      .navigation__menu-link--margin {
        margin-left: 0;
        margin-right: 20px; } }
  @media all and (max-width: 710px) {
    .navigation__menu-link {
      margin-right: 20px; } }

@media all and (max-width: 1190px) {
  .navigation {
    text-align: left;
    height: 100px; } }

.delivery {
  color: #ffffff;
  font-family: "PF Agora Sans Pro, Black", sans-serif; }
  .delivery__health-food {
    font-size: 34px;
    line-height: 34px;
    text-align: center;
    padding-right: 10px;
    margin-top: 61px;
    margin-bottom: 20px; }
  .delivery__change-your-food {
    width: 1042px;
    height: 130px;
    font-family: "PF Agora Sans Pro, Black", sans-serif;
    font-size: 60px;
    margin: 0 auto;
    text-align: center; }
  @media all and (max-width: 1040px) {
    .delivery__health-food {
      font-size: 28px; }
    .delivery__change-your-food {
      font-size: 40px;
      width: 640px; } }
  @media all and (max-width: 540px) {
    .delivery__change-your-food {
      width: 520px;
      height: auto;
      font-size: 32px;
      padding-right: 20px; } }

.offer {
  display: block;
  width: 485px;
  height: 485px;
  border-radius: 50%;
  background-color: #0177c8;
  float: right;
  margin-right: 24.6%;
  /*473px;*/
  margin-top: -30px; }
  .offer__with-sale {
    display: block;
    margin: 0 auto;
    width: 413px;
    height: 136px;
    padding-top: 120px;
    color: #ffffff;
    font-family: "PF Agora Sans Pro, Light", sans-serif;
    line-height: 36px;
    font-size: 34px;
    text-align: center; }
  .offer__description {
    display: block;
    height: 80px;
    width: 415px;
    color: #ffffff;
    font-family: "PF Agora Sans Pro, Bold", sans-serif;
    line-height: 36px;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    padding-top: 60px; }
  .offer__price-old {
    display: inline-block;
    width: 170px;
    height: 48px;
    color: #ffffff;
    font-family: "PF Agora Sans Pro, Black", sans-serif;
    font-size: 40px;
    padding-left: 10px;
    float: left;
    background: url("../images/price-bg.svg") 100%, no-repeat;
    background-size: cover;
    margin-top: 70px;
    margin-left: 82px; }
  .offer__price {
    display: inline-block;
    width: 170px;
    height: 48px;
    color: #ffffff;
    font-family: "PF Agora Sans Pro, Black", sans-serif;
    font-size: 40px;
    padding-left: 10px;
    padding-top: 70px;
    float: left; }
  .offer__leave-request {
    width: 201px;
    height: 51px;
    border-radius: 9px;
    background-color: #f47521;
    text-align: center;
    margin-left: 140px;
    margin-top: 44px;
    text-shadow: 1px 1px 2px rgba(255, 209, 179, 0.75);
    color: #823400;
    font-family: "PF Agora Sans Pro, Bold", sans-serif;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid #823400;
    outline: none; }
    .offer__leave-request:hover {
      background-image: linear-gradient(#ff9945, #f41500);
      color: white;
      transition: 0.9s; }

.food-program-container {
  display: inline-block;
  min-width: 540px;
  width: 100%;
  height: 143px;
  background-color: #01b389;
  margin-top: 124px;
  box-shadow: 0px 11px 14px -9px #ffffff inset, 0px -12px 14px -9px #000000 inset;
  z-index: 1;
  position: relative; }

.food-program-container-bottom-border {
  display: inline-block;
  min-width: 540px;
  width: 100%;
  height: 14px;
  margin-top: 267px;
  background-color: #fdff05;
  box-shadow: 0px -12px 14px -9px #000000 inset;
  z-index: 1;
  position: relative; }

.food-program-topic {
  color: #ffffff;
  font-family: "Myriad Pro, Bold", sans-serif;
  font-size: 60px;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px; }

@media all and (max-width: 1190px) {
  .food-program-container {
    height: 100px; }
  .food-program-topic {
    font-size: 28px; } }

@media all and (max-width: 588px) {
  .offer {
    float: none;
    margin-left: 8px; }
  .food-program-topic {
    padding-top: 15px; } }
