
.programs {
  max-width: 100vw;
  min-width: 480px;
  max-height: 1153px;
  min-height: 540px;
  margin: 0 auto;
  &__accordion {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 0;
    min-height: 540px;
    height: 100vh;
  }

  &__li {
    display: block;
    width: 15%;
    max-height: 1153px;
    min-height: 540px;
    overflow: hidden;
    cursor: pointer;
    transition: all 1.2s;
  }

  &__li:nth-child(1) {
    width: 66%;
    background: #cecece url("../images/main-woman.png") 0% no-repeat;
    background-size: auto 100%;
  }
  &__lost-weight-topic {
    display: block;
    width: 800px;
    height: 60px;
    font-family: "Myriad Pro, Bold", sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    color: #0177c8;
    transform: rotate(-90deg);
    margin-left: -350px;
    margin-top: 620px;
  }
  &__li:nth-child(2) {
    width: 6%;
    background: url('../images/s22.jpg') 0% no-repeat, radial-gradient(circle farthest-side at 20% 50%, #ededed, #c2c2c2);
    background-size: auto 100%;
  }
  &__diet-topic {
    color: white;
    display: block;
    width: 1153px;
    height: 60px;
    transform: rotate(-90deg);
    font-family: "Myriad Pro, Bold", sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    margin-top: 470px;
    margin-left: -520px;
  }
  &__li:nth-child(3) {
    width: 28%;
    background: #969696 url('../images/s333.jpg') 0% no-repeat;
    background-size: auto 100%;
  }
  &__sport-topic {
    display: block;
    color: #ffffff;
    width: 850px;
    height: 60px;
    transform: rotate(-90deg);
    font-family: "Myriad Pro, Bold", sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    margin-left: -370px;
    margin-top: 590px;
  }
  &__li:hover {
    width: 100%;
    transition: all 0.8s;

  }

  &__li:nth-child(1) {
    width: 66%;
  }

  &__accordion:hover .active {
    width: 6%;
  }

  &__li:nth-child(1):hover {
    width: 66%;
  }
  &__table-container {
    display: block;
    max-width: 700px;
    min-width: 300px;
    max-height: 1144px;
    min-height: 540px;
    margin-top: -470px;
    margin-left: 520px;
  }
  &__table-header {
    display: block;
    width: 580px;
    height: 42px;
    color: #000000;
    font-family: "Myriad Pro, Bold", sans-serif;
    font-size: 40px;
    margin: 0 auto;
    text-align: center;
    padding-top: 62px;
    padding-bottom: 81px;
  }

  &__table {
    display: block;
    min-width: 310px;
    width: 585px;
    height: 88px;
    font-family: "Myriad Pro, Regular", sans-serif;
    font-size: 20px;
    border: 3px solid #000000;
    border-radius: 14px;
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;

    td {
      width: 195px;
      min-width: 100px;
      height: 41px;
      border: solid 2px transparent;
    }
    td:nth-child(2) {
      border-left: 3px solid #000000;
      border-right: 3px solid #000000;
      padding: 0;
    }
  }
  &__table-borders {
    border-bottom: 3px solid black;
  }

  &__weight-loss-declaration {
    display: block;
    width: 620px;
    height: 67px;
    color: #000000;
    font-family: "Myriad Pro, Italic", sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
  }

  &__buttons-container {
    display: block;
    width: 470px;
    height: 52px;
    margin: 0 auto;
    padding-top: 40px;
  }
  &__info-button {
    width: 201px;
    height: 51px;
    border-radius: 10px;
    background-color: #f47521;
    border: none;
    border-bottom: 2px solid #823400;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(255, 209, 179, 0.75);
    color: #823400;
    font-family: "Myriad Pro, Regular", sans-serif;
    font-size: 20px;
    outline: none;
    &:first-child {
      margin-right: 19px;
    }
    &:hover {
      background-image: linear-gradient(#ff9945, #f41500);
      color: white;
      transition: 0.9s;
    }
  }

  @media all and (max-width: 1900px) { /*для устройств с шириной окна менее 1920px */
    &__lost-weight-topic {
      width: 1153px;
      font-size: 30px;
      margin-top: 10px;
      margin-left: -540px;
      padding-left: 10px;
    }
    &__diet-topic {
      width: 1153px;
      font-size: 30px;
      margin-top: 10px;
      margin-left: -540px;
      padding-left: 10px;
    }
    &__sport-topic {
      width: 1153px;
      font-size: 30px;
      margin-top: 10px;
      margin-left: -540px;
      padding-left: 10px;
    }
    &__table-container {
      margin-top: -20px;
      margin-left: 300px;
    }
    &__table-header {
      width: 380px;
      height: 32px;
      font-size: 30px;
      padding-top: 20px;
      padding-bottom: 50px;
    }
    &__table {
      width: 400px;
    }
    &__weight-loss-declaration {
      width: 450px;
      font-size: 13px;
    }
    &__buttons-container {
      padding-top: 0;
      padding-left: 20px;
    }
  }
  @media (max-width: 1650px) {
    &__table-container {
      margin-top: 200px;
      margin-left: 300px;
    }
  }
  @media (max-width: 1400px) {
    &__table-container {
      margin-top: -50px;
      margin-left: 350px;
    }
  }
  @media all and (max-width: 1250px) {
    &__table-container {
      margin-left: 100px;
    }
  }
  @media all and (max-width: 900px) {
    &__li:hover {
      width: 100%;
    }
    &__li:nth-child(1) {
      width: 90%;
    }
    &__li {
      width: 5%;
    }
    &__li:nth-child(3) {
      width: 5%;
      &:hover {
        width: 90%;
      }
    }

    &__accordion:hover .active {
      width: 5%;
    }

    &__li:nth-child(1):hover {
      width: 90%;
    }

    &__lost-weight-topic {
      font-size: 25px;
      margin-left: -550px;
    }
    &__diet-topic {
      font-size: 25px;
      margin-left: -550px;
    }
    &__sport-topic {
      font-size: 25px;
      margin-left: -550px;
    }
  }
  @media all and (max-width: 660px) {
    &__table-container {
      margin-left: 20px;
      width: 380px;
    }
    &__table-header {
      width: 350px;
      height: 26px;
      font-size: 22px;
      padding-top: 20px;
      padding-bottom: 50px;
    }
    &__table {
      width: 330px;
    }
    &__weight-loss-declaration {
      width: 350px;
      font-size: 11px;
    }
    &__buttons-container {
      width: 350px;
      padding-top: 0;
      padding-left: 20px;
    }
    &__info-button {
      width: 140px;
      height: 30px;
    }
  }
}
