.contact-us {
  display: block;
  min-width: 480px;
  width: 100%;
  height: 230px;
  background-color: #01b389;
  box-shadow: 0px 11px 14px -9px #ffffff inset,
  0px -12px 14px -9px #000000 inset;

  &__make-a-step {
    display: block;
    width: 100%;
    height: 42px;
    color: #ffffff;
    font-family: "PF Agora Sans Pro, Light", sans-serif;
    font-size: 40px;
    text-align: center;
    margin: 0 auto;
    padding-top: 43px;
  }
  &__submit-request {
    display: block;
    width: 100%;
    height: 20px;
    color: #ffffff;
    font-family: "PF Agora Sans Pro, Bold", sans-serif;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    padding-top: 44px;
  }
  &__button-block {
    padding-top: 40px;
    text-align: center;
  }
  &__send-request {
    width: 184px;
    height: 51px;
    border-radius: 9px;
    background-color: #f47521;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(255, 209, 179, 0.75);
    color: #823400;
    font-family: "PF Agora Sans Pro, Bold", sans-serif;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid #823400;
    outline: none;
    &:hover {
      background-image: linear-gradient(#ff9945, #f41500);
      color: white;
      transition: 0.9s;
    }
  }
}

.steps-to-health {
  clear: both;
  display: block;
  height: 584px;
  min-width: 480px;
  max-width: 100%;
  &__topic {
    display: block;
    width: 1240px;
    height: 60px;
    color: #191c31;
    font-family: "PF Agora Sans Pro, Bold", sans-serif;
    font-size: 60px;
    margin: 0 auto;
    padding-top: 111px;
  }
  &__all-steps {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 460px;
    padding-top: 120px;

  }
  &__steps-container {
    display: block;
    float: left;
    width: 250px;
    height: 300px;
  }
  &__step-border {
    display: block;
    border-radius: 50%;
    width: 198px;
    height: 198px;
    background-color: #0177c8;
    margin: 0 12px;
  }
  &__item {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 48px;
    opacity: 0.3;
  }
  &__margin-phone {
    padding-top: 8px;
  }
  &__margin-good-feeling {
    padding-top: 10px;
  }
  &__items-name {
    color: #191c31;
    font-family: "PF Agora Sans Pro, Light", sans-serif;
    font-size: 22px;
    text-align: center;
  }
  &__indent-text {
    padding-top: 40px;
  }
}

@media all and (max-width: 1919px) {
  .steps-to-health {
    height: auto;
    padding-bottom: 10px;
    &__topic {
      max-width: 980px;
      font-size: 48px;
      padding-top: 30px;
    }
  }
}

@media all and (max-width: 1040px) {
  .steps-to-health {
    &__all-steps {
      padding-top: 30px;
    }
    &__topic {
      max-width: 570px;
      font-size: 28px;
    }
  }
}

@media all and (max-width: 900px) {
  .contact-us {
    &__make-a-step {
      font-size: 25px;
      padding-top: 23px;
    }
    &__submit-request {
      font-size: 16px;
      padding-top: 24px;
    }
    &__button-block {
      padding-top: 40px;
    }
  }
  .steps-to-health {
    &__topic {
      font-size: 20px;
      width: 420px;
    }
    &__step-border {
      margin: 0;
    }
  }
}

@media all and (max-width: 540px) {
  .contact-us {
    height: 180px;
    &__make-a-step {
      font-size: 20px;
      width: 380px;
      margin-left: 40px;
    }
    &__submit-request {
      width: 380px;
      height: auto;
      text-align: center;
      font-size: 16px;
      margin-left: 40px;
    }
    &__button-block {
      width: 460px;
      padding-top: 10px;
    }
  }
  .steps-to-health {
    &__topic {
      margin-left: 0;
    }
    &__all-steps {
      padding-top: 30px;
      //margin-left: -90px;
    }
  }
}